.aboutbox {
  margin-top: 10vh;
  width: 100vw;
  height: 80vh;
  background: linear-gradient(
    112.7deg,
    rgb(162, 247, 241) 0.3%,
    rgb(199, 146, 255) 88.7%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.aboutText {
  width: 70vw;
  font-weight: 400;
  color: #fbfbfb;
  letter-spacing: 3px;
  font-size: 1rem;
  line-height: 1.6;
}

.buttonStyle {
  border: none;
  outline: none;
  background-color: rgb(149, 103, 197);
  color: white;
  padding: 8px 15px;
  cursor: pointer;
  margin-top: 10px;
  letter-spacing: 2px;
}

@media only screen and (max-width: 500px) {
  .aboutText {
    font-size: 0.7rem;
    width: 80vw;
  }
}
