.customSelectContainer{
  position: relative;
}

.selectedOption{
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid purple;
  margin-bottom: 2px;
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  font-size: 0.7rem;
  width: 130px;
  background-color: rgba(128, 0, 128, 0.075);
}
.selectedOption:active{
  background-color: rgba(128, 0, 128, 0.151);
}

.optionsList{
  overflow-y: scroll;
  position: absolute;
  z-index: 70;
  background-color: white;
  box-shadow: 0 0 5px rgb(185, 185, 185);
  flex-direction: column;
  width: 150px;
  height: 150px;
  padding: 7px;
  border-radius: 5px;
}

.option{
  font-size: 0.8rem;
  border-bottom: 1px solid gray;
  padding: 2px 0;
}

.option:active{
  background-color: rgb(230, 230, 230);
}