.gridcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  width: 100vw;
  border-radius: 20px;
  justify-items: center;
  align-items: center;
}

.griditem {
width: 25vw;
margin: 15px 0;
}

.griditem div {
  color: #0f2835;
  font-weight:500;
  margin-bottom: 8px;
}

@media only screen and (max-width: 1200px) {
  .gridcontainer {
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .gridcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 300px) {
  .gridcontainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
