.gridcontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.404);
  width: 90vw;
  padding: 40px;
  border-radius: 20px;
}

.griditem {
  background-color: #eee;
  border: 1px solid #333;
  padding: 10px;
  width: 20vw;
}

@media only screen and (max-width: 1200px) {
  .gridcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .gridcontainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
