.nav {
  top: 0;
  z-index: 100;
  position: fixed;
  background: white;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10vh;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.079);
}

.navigate{
  display: flex;
  margin-left: 400px;
}

.navigate li{
  padding: 0 50px;
  list-style: none;
}

.navigate li a{
  text-decoration: none;
  color: rgb(70, 7, 70);
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.navigate li a:hover{
  color: rgb(153, 23, 153);
}

.hamnav{
  display: none;
}

.h1 {
  font-size: 1.2rem;
  padding-left: 10px;
}

.h1 a{
  text-decoration: none;
  color: purple;
  font-weight: 600;
}


.h1 a:active {
 color: rgb(153, 92, 153);
}

.container {
  margin-top: 100px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  border-bottom: 1px solid rgb(233, 232, 232);
  border-top: 1px solid rgb(233, 232, 232);
}

.container a {
  text-decoration: none;
  color: black;
}

.showdata {
  display: flex;
  align-items: center;
  min-height: 60px;
  max-width: 80vw;
  margin: 6px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.123);
  font-size: 0.8rem;
  color: #374d5a;
  box-sizing: border-box;
}

.showdata:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
}

.stockDetail {
  box-sizing: border-box;
  min-width: 100px;
  padding-left:10px;
}
.showdataBox {
  max-height: 80vh;
  overflow-y: scroll;
}

.para {
  position: absolute;
  color: rgb(104, 6, 104);
  font-size: 1.5rem;
  top: 150px;
  font-weight: 500;
}

.searchOption {
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.searchInputBox{
position: relative;
}
.searchbtn{
  position: absolute;
  top: 9px;
  left:5px;
}
.inputBox {
  padding-left: 30px;
  outline: none;
  width: 30vw;
  height: 40px;
  border: 1px solid purple;
  border-radius: 5px;
}


.indexInputbox {
  position: relative;
  margin-right: 30px;
}
.indexsearchIcon {
  position: absolute;
  top:3px;
  left: 5px;
}
.indexInput {
  outline: none;
  border: 1px solid purple;
  padding-left: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  font-size: 0.8rem;
}


.searchIcon {
  filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(290deg)
    brightness(60%) contrast(118%);
}
.inputBox::-webkit-search-cancel-button {
  cursor: pointer;
}

.SearchData {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menue {
  display: flex;
  align-items: center;
  padding: 15px 0;
  padding-right:20px;
  box-sizing: border-box;
  width: 100vw;
  justify-content: center;
  border-bottom: 1px solid rgb(233, 232, 232);
}

.button-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.nextpage {
  background: none;
  margin: 0 2rem;
  width: 4rem;
  height: 2rem;
  outline: none;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.111);
  cursor: pointer;
  border-radius: 5px;
}

.nextpage img {
  width: 1.5rem;
}

.nextpage:active {
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.26);
}

.backTop {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  background-color: purple;
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.425);
  width: 40px;
  height: 40px;
  left: 87vw;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
}

.backTop img {
  animation: bounce 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.footer {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
}

.icon {
  margin: 0 5px;
}

@media only screen and (max-width: 1200px) {
  .nav{
    display: none;
  }
  .hamnav{
    display: block;
  }
  .infotext {
    font-size: 0.5rem;
  }

}

@media only screen and (max-width: 800px) {
  .showdata{
    font-size: 0.7rem;
  }
  .indexInput {
    font-size: 0.7rem;
    width: 120px;
    padding-left: 20px;
  }
 
  
}

@media only screen and (max-width: 600px) {

  .indexInputbox{
    margin-right: 20px;
  }
  .showdata{
    font-size: 0.6rem;
  }
  .inputBox {
    width: 60vw;
  }

}

@media only screen and (max-width: 500px) {
  .stockDetail {
    min-width: 80px;
  }
  .footer {
    font-size: 0.7rem;
  }

}

@media only screen and (max-width: 400px) {

  .stockDetail {
    min-width: 70px;
  }

}

@media only screen and (max-width: 300px) {
  .indexInputbox{
    margin-right: 2px;
  }
  .showdata{
    font-size: 0.5rem;
  }
  .stockDetail {
    min-width: 30px;
  }
  .menue{
    padding-right: 0;
  }
}

@media only screen and (max-width: 200px) {
.showdata{
  font-size: 0.5rem;
}
}
