@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.nav {
  top: 0;
  z-index: 100;
  position: fixed;
  background: white;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 10vh;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.079);
}

.nav h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  padding-left: 10px;
}

.anchor {
  color: purple;
  text-decoration: none;
}

.anchor :active {
  color: rgb(175, 96, 175);
}

.container {
  margin-top: 100px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container a {
  text-decoration: none;
  color: black;
}

.showdata {
  display: flex;
  align-items: center;
  min-height: 60px;
  max-width: 80vw;
  margin: 6px;
  border-radius: 5px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.123);
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  /* background:linear-gradient(112.7deg, rgb(162, 247, 241) 0.3%, rgb(199, 146, 255) 88.7%); */
  color: gray;
  box-sizing: border-box;
}

.showdata:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.151);
}

.stockDetail {
  min-width: 100px;
  padding: 0 10px;
}
.showdataBox {
  max-height: 80vh;
  overflow-y: scroll;
}

.para {
  position: absolute;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(104, 6, 104);
  font-size: 1.5rem;
  top: 50px;
  font-weight: 500;
}

.searchOption {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  width: 100vw;
}

.searchbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 25px;
  outline: none;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid purple;
  border-right: none;
}

.indexInputbox {
  position: relative;
}
.indexsearchIcon {
  position: absolute;
  top:5px;
  left: 5px;
}
.indexInput {
  outline: none;
  border: 1px solid purple;
  padding-left: 25px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 5px;
  font-size: 0.7rem;
}

.inputBox {
  padding-left: 2px;
  outline: none;
  width: 30vw;
  height: 40px;
  border: 1px solid purple;
  border-radius: 0px 5px 5px 0px;
  border-left: none;
}

.searchIcon {
  filter: invert(16%) sepia(99%) saturate(7404%) hue-rotate(290deg)
    brightness(60%) contrast(118%);
}
.inputBox::-webkit-search-cancel-button {
  cursor: pointer;
}

.SearchData {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.menue {
  display: flex;
}

.button-section {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}
.nextpage {
  background: none;
  margin: 0 2rem;
  width: 4rem;
  height: 2rem;
  outline: none;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.111);
  cursor: pointer;
  border-radius: 5px;
}

.nextpage img {
  width: 1.5rem;
}

.nextpage:active {
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.26);
}

.backTop {
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  background-color: purple;
  box-shadow: 0 0 10px rgba(128, 0, 128, 0.425);
  width: 40px;
  height: 40px;
  left: 87vw;
  border-radius: 5px;
  border: 2px solid white;
  cursor: pointer;
}

.backTop img {
  animation: bounce 1s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(-2px);
  }
}

.footer {
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 20vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

.icon {
  margin: 0 5px;
}

@media only screen and (max-width: 1200px) {
  .infotext {
    font-size: 0.5rem;
  }

  .searchIcon {
    right: 302px;
  }
}

@media only screen and (max-width: 800px) {
  .showdata{
    font-size: 0.7rem;
  }
  .indexInput {
    font-size: 0.7rem;
    width: 120px;
    padding-left: 20px;
  }
 
  .searchIcon {
    right: 220px;
  }

  
}

@media only screen and (max-width: 600px) {
  .showdata{
    font-size: 0.6rem;
  }
  .inputBox {
    width: 60vw;
  }

  .searchIcon {
    right: 318px;
  }
}

@media only screen and (max-width: 500px) {
  .stockDetail {
    min-width: 80px;
  }
  .footer {
    font-size: 0.7rem;
  }

  .searchIcon {
    right: 240px;
  }
}

@media only screen and (max-width: 400px) {

  .stockDetail {
    min-width: 70px;
  }
  .searchIcon {
    right: 225px;
  }
}

@media only screen and (max-width: 300px) {
  .showdata{
    font-size: 0.5rem;
  }
  .stockDetail {
    min-width: 30px;
  }
  .searchIcon {
    right: 160px;
  }
}

@media only screen and (max-width: 200px) {
.showdata{

  font-size: 0.5rem;
}
}
